- gon.quote_placeholder = "Create new Quote ..."
= form_tag quick_create_quotes_path, :remote => true do
  = text_area_tag :quote, nil, :placeholder => gon.quote_placeholder, :rows => 1, :maxlength => 2040, :class => 'span4'
  #new-quote-controls{:style => 'display: none;'}
    = submit_tag "Create Quote", :id => "submit-quick", :disabled => true, :class => 'btn btn-primary'
    = link_to "more", '#', :id => "quote-more", :data => {:url => new_quote_path}

- @quote ||= Quote.new
%div#new-quote{:style => 'display: none; border: 1px solid black; margin-top: 3em; padding: 2em;'}
  =# render :partial => 'quotes/form'