%div{:class => 'modal hide browse-modal', :id => 'quote-modal', :style => "width: 700px"}
  %div.modal-header
    %a{:class => 'close', 'data-dismiss' => 'modal'}
      x
    %h3 Edit Quote 
  %div.modal-body
    .form
  

:javascript

  function closeQuoteModal() {
    $('.edit-selected').removeClass('edit-selected');
    $('#quote-modal').modal('hide');
  }

  $('#quote-modal').on('hidden', function () {
    $('.edit-selected').removeClass('edit-selected');
  });

  function showNewQuoteForm() {
    $('#new-quote').show('fast');
    $('#add-quote-link').hide();
  }

  function hideNewQuoteForm() {
    $('#new-quote').hide('fast');
    $('#add-quote-link').show();
  }

  $('#add-quote-link').click(function() {
    if (gon.logged_in) {
      showNewQuoteForm();
    } else {
      tbAlert("You must be logged in to add a quote.");
    }
  });

  $('#quote-form-cancel').live('click', function() {
    hideNewQuoteForm();
    closeQuoteModal();
  });

