- if quote_creator.success?
  = prepend_element_with_partial('#quotes-list', 'quotes_lister/quote', :qwa => quote_creator.qwa)
  closeQuoteModal();
  quoteQuickAdd.reset();
  = highlight(quote_creator.qwa.dom_id)
- else
  - @quote = quote_creator.quote
  = replace_element_with_partial('#quote-modal-div', 'quotes/form')
  $('#quote-modal').modal('show');