- if quote_creator.success?
  = prepend_element_with_partial('#quotes-list', 'quotes_lister/quote', :qwa => quote_creator.qwa)
  = highlight(quote_creator.qwa.dom_id)
  = replace_element_with_partial('#new-via-js', 'quotes/new_js')
  $('.popover').remove();
- else
  - @quote = quote_creator.quote
  $('.popover #new_quote').replaceWith('#{j render :partial => "quotes/new_form_js"}');