- if @quote.has_comments? && !admin?
  tbAlert("This quote has comments so can no longer be edited.");
  = update_quote_partial(quote_updater.qwa)
- else
  = add_class(quote_updater.quote, 'edit-selected')
  = update_quote_modal_form
  $('#quote-modal').modal('show');