- if @quote.has_comments? && !admin?
  tbAlert("This quote has comments so can no longer be edited.");
  = update_quote_partial(quote_manager.qwa)
- else
  = add_class(quote_manager.quote, 'edit-selected')
  = page_html('#edit-quote-form', nil, :partial => 'quotes/form')
  hideNewQuoteForm();
  $('#edit-quote-modal').modal('show');