- if quote_updater.success?
  = update_quote_partial(quote_updater.qwa)
  closeQuoteModal();
- elsif @quote_updater.has_comments?
  tbAlert("This quote has comments so can no longer be edited.");
  = update_quote_partial(quote_updater.qwa)
  closeQuoteModal();
- else
  alert('failure');
  - @quote = quote_updater.quote
  = replace_element_with_partial('#quote-modal-div', 'quotes/form')
  $('#quote-modal').modal('show');