- if quote_updater.success?
  = update_quote_partial(quote_updater.qwa)
  closeQuoteModal();
- elsif @quote_updater.has_comments?
  tbAlert("This quote has comments so can no longer be edited.");
  = update_quote_partial(quote_updater.qwa)
  closeQuoteModal();
- else
  - @quote = quote_updater.quote
  = page_html('#edit-quote-form', nil, :partial => 'quotes/form')