%h2 Comments

#comments
  - if user_signed_in?
    = render :partial => "comments/new_comment", :locals => {:new_comment => @new_comment}
  - else
    = comment_login_or_sign_up_message

  - if !@cwas.empty?
    #comments_list
      - @cwas.each do |cwa|
        = render :partial => 'comments/comment', :locals => {:cwa => cwa}
  - else
    #no_comments 
      %p Be the first to comment.