= render :partial => 'nav_links'
%div= link_to "Add Quote", '#', :class => 'btn btn-danger', :id => 'add-quote-link'

= render :partial => 'quotes'

%div{:class => 'modal hide browse-modal', :id => 'edit-quote-modal', :style => "display: none"}
  %div.modal-header
    %a{:class => 'close', 'data-dismiss' => 'modal'}
      x
    %h3 
      Edit Quote
  %div.modal-body
    .flash-modal
    #edit-quote-form

:javascript
  
  function closeQuoteModal() {
    $('#edit-quote-modal').modal('hide');
  }
  
  $('#edit-quote-modal').on('hidden', function () {
    $('.edit-selected').removeClass('edit-selected');
  })
  
  function showNewQuoteForm() {
    $('#new-quote').show('fast');
    $('#add-quote-link').hide();
  }
  
  function hideNewQuoteForm() {
    $('#new-quote').hide('fast');
    $('#add-quote-link').show();
  }
  
  $('#add-quote-link').click(function() {
    if (gon.logged_in) {
      showNewQuoteForm();
    } else {
      tbAlert("You must be logged in to add a quote.");
    }
  });

  $('#quote-form-cancel').live('click', function() {
    hideNewQuoteForm();
    closeQuoteModal();
  });

