# To configure SMTP in your development environment:
# - copy this file to config/smtp.yml
# - change domain as needed
# - add your username
# - add your password
development:
  address: smtp.gmail.com
  port: 587
  domain: gmail.com
  user_name: <username>
  password: <password>
  authentication: plain
  enable_starttls_auto: true