/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

::-moz-selection { background: #fdfc9a; color: #333; text-shadow: none; }
::selection { background: #fdfc9a; color: #333; text-shadow: none; }


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.nav_links {
	margin: 1em;
}

.nav_links a {
	margin-right: 2em;
}

.delete-selected {
  box-shadow: 0 0 8px;
}

.gutter {
	padding-left:24px;
	padding-right:24px;
}
.glow-left-right {
	-moz-box-shadow: -6 -6 16px 0px #fff;
	-webkit-box-shadow: -6 -6 16px #fff;
  box-shadow: -1px 1px 12px rgba(0,0,0,0.1),  3px 1px 12px rgba(0,0,0,0.1);
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.gutter {
		padding-left:12px;
		padding-right:12px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.gutter {
		padding-left:12px;
		padding-right:12px;
	}
}

 /* Landscape phones and down */
@media (max-width: 480px) {
	.gutter {
		padding-left:4px;
		padding-right:4px;
	}
}

/*#things.rounded5 {
	-webkit-border-radius: 5 !important;
	-moz-border-radius: 5 !important;
	border-radius: 5 !important;
}
*/