.comment {
  border-bottom: 1px solid #eee;
  padding: .5em;
  .body {
    font-size:1em;
    font-size:1rem;
    line-height:1.4;
    margin-left:62px;
    .comment-footer {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      font-size:.8em;
      font-size:.8rem;
    }
  }
    .commenter {
      margin-right: 1em;
    }
    .icon-share-alt {
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  /* copied from quotes */
  .action_links {
    opacity:0;
		a {
		margin-left: 1.5em;
		margin-right: .3em;
		}
	}
	.action_links a:first-child {
	  margin-left:0;
	}
}

.comment:hover .action_links {
  -webkit-transition: opacity .2s linear .2s;
  -moz-transition: opacity .2s linear .2s;
  -o-transition: opacity .2s linear .2s;
  transition: opacity .1s linear .2s;
  -o-opacity:1;
  -moz-opacity:1;
  -webkit-opacity:1;
  opacity:1;
}

.child_comments {
  margin-left: 40px;
}

.comment-voting {  
  text-align:center;
  white-space:nowrap;
  vertical-align: middle;
  min-width: 50px;
  padding-right:1em;
  -o-opacity:0.5;
  -moz-opacity:0.5;
  -webkit-opacity:0.5;
  opacity:0.5;
  
  .comment-vote-count {
    display:block;
    font-size: 1.2em;
    font-size: 1.2rem;
    padding: 12px 0;
  }

  a {
    font-size:13px;
    padding:4px 6px;
  }
}
  
.comment-voting:hover {
  -o-opacity:1;
  -moz-opacity:1;
  -webkit-opacity:1;
  opacity:1;
  
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .1s linear;
}


.child_comments .child_comments .child_comments .child_comments .child_comments {
  margin-left: 0;
}