body h1 {
  margin-bottom: 0.5em;
}

body[data-controller=sessions], 
  body[data-controller=registrations],
  body[data-controller=confirmations],
  body[data-controller=passwords] {
  
  a {
    margin-right: 2em;
  }
  
}

form label {
  font-weight: bold;
  font-size: larger;
}

