.quote {
  .voting {
    white-space:nowrap;
    vertical-align: middle;
    min-width: 70px;
    
    .vote_count {
      font-size: 1.4em;
      font-size: 1.4rem;
      padding: 2px;
      text-align: center;
      opacity:0.5;
      
    }
    
    .vote_links {
      text-align:center;
      padding: 10px;
      a {
        border:1px solid #ccc;
        padding:2px 6px;
        opacity:0.5;
      }
      a:hover {
        opacity:1;
      }
      a:first-child {
        border-radius:3px 0 0 3px;
        border-right:none;
      }
      a:last-child {
        border-radius:0 3px 3px 0;
      }
    }
  }
}




#quotes {
	padding: 0.5em;
}
.quote:first-child {
  border:none;
}
.quote {
  overflow:hidden;
	border-top: 1px #ddd solid;
	margin: 0.5em;
	padding: 1.6em 0.4em 0.4em;

	.by {
		font-size:1.1em;
		font-size:1.1rem;
		color:#222;
		opacity:0.45;
	}

	.text {
	  line-height:1.2;
		margin: 0.25em;
		padding: 0.3em;
		font-size:1.8em;
		font-size:1.8rem;
		color:#4a4a4a
	}

	.context {
	  margin-bottom: 1em;
		font-size:1.1em;
		font-size:1.1rem;
		color:#222;
		opacity:0.45;
	}

  .more-link {
    opacity:0.45;
    margin-bottom: 1em;
  }
  
	.action_links {
	  opacity:0;
		a {
		margin-left: 1.5em;
		margin-right: .3em;
		}
	}
	.action_links a:first-child {
	  margin-left:0;
	}
	.owner {
		margin-left: 5em;
	}
	.owner a {margin-left:0}
}


.quote:hover .by,
.quote:hover .context,
.quote:hover .more-link,
.quote:hover .action_links {
  -webkit-transition: opacity .2s linear .2s;
  -moz-transition: opacity .2s linear .2s;
  -o-transition: opacity .2s linear .2s;
  transition: opacity .1s linear .2s;
  opacity:8.0;
}

.top_comments {
  h4 {
    margin-top: 0.5em;
    
    .all-comments-link, .top-comments-hide-link {
      font-weight: normal;
    }
  }
  
  .top_comment {
    border-top: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}