%div{:class => 'modal hide', :id => 'tb-alert', :style => "display: none"}
  %div.modal-header
    %a{:class => 'close', 'data-dismiss' => 'modal'}
      x
    %h3#tb-alert-title 
      No message
  /%div.modal-body
  /  %p#tb-alert-message No message given
  %div.modal-body{:style => 'text-align:center'}
    %a{:id => "alert-ok-btn", :href => '#', :class => "btn btn-primary modal-cancel"}
      OK
