%ul.nav.nav-pills.pull-right
  %li= link_to "Newest", newest_path, :id => 'newest_link'
  %li= link_to "Favorites", favorites_path, :id => 'favorites_link'
  %li= link_to "My Submissions", my_submissions_path, :id => 'my_submissions_link'


:javascript

$(function() {
  $('##{controller.action_name}_link').parent().addClass('active');
});
